.overview {
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 18px 12px;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $viewport-sm) {
      width: 25%;
    }
  }

  h2 {
    overflow-wrap: break-word;
    text-transform: capitalize;
    margin: 8px 0;
  }

  a {
    text-decoration: underline;
  }
}
