extends layout/template.pug

block content
  header
    h1 Account
  main
    form.account(action='')
      img(src='./images/avatar.jpg' alt='avatar name')
      input(type='file' name='image' id='image' accept='image/*')
      h2 General Info
      hr
      label(for='firstname') First Name
      input(type='text' name='firstname' id='firstname')
      label(for='lastname') Last name
      input(type='text' placeholder='' name='lastname' id='lastname')
      h2 Education
      hr
      label(for='education') Current study
      input(type='text' placeholder='' name='education' id='education')
      label(for='school') Current School
      select(id='school')
        option(name='' value='') School
      label(for='country') School preference
      select(id='country')
        option(name='' value='') school
      h2 Contact
      hr
      label(for='linkedin') LinkedIn account
      input(type='text' placeholder='' name='linkedin' id='linkedin') 
      label(for='instagram') Instagram account
      input(type='text' placeholder='' name='instagram' id='instagram') 

      input(type='submit' value='update Info')
