extends layout/template.pug

block content
  header
    h1 Account
    form.account(action='')
      label(for='firstname') First Name
      input(type='text' name='firstname' id='firstname')
      label(for='lastname') Last name
      input(type='text' placeholder='' name='lastname' id='education')
      label(for='education') Currently studying
      input(type='text' placeholder='' name='education' id='education')

      h2 Preferences

      label(for='country') Country preference
      select(id='country')
        option(name='' value='') country

      input(type='submit' value='update account')
