extends layout/template.pug

block content
  header
    h1 Account
  main
    form.account(action='/account' method='post')
      h2 General Info
      hr
      label(for='firstname') First name
      input(type='text' name='firstname' id='firstname' placeholder=student.firstname required)
      label(for='lastname') Last name
      input(type='text' name='lastname' id='lastname' placeholder=student.lastname required)
      label(for='email') E-mailadres (used for contact)
      input(type="email" placeholder=student.email name='email' id='email')
      h2 Education
      hr
      label(for='education') Current study
      input(type='text' name='education' id='education' placeholder=student.education required)
      label(for='school') Current school
      select(name='school' id='school')
        option(value='Harvard University') Harvard University
        option(value='Erasmus Universiteit Rotterdam') Erasmus Universiteit Rotterdam
        option(value='University of Amsterdam') University of Amsterdam
        option(value='Kyoto University') Kyoto University
        option(value='Ryerson University') Ryerson University
      label(for='country') Country preference
      select(name='country' id='country')
        option(value='Canada') Canada
        option(value='England') England
        option(value='Japan') Japan
        option(value='Netherlands') Netherlands
        option(value='United States') United States

      input(type='submit' value='Update profile')
