extends layout/template.pug

block content
  header
    h1 Overview
    p Students found in (preference country)
  main
    div#map
    script.
      mapboxgl.accessToken = 'pk.eyJ1IjoibWFyY2Ryb2dlciIsImEiOiJjbDNiYzFtNnMwZHlhM2NycXdkdGh2MTZmIn0.B26KwzBntG-ArQRPsYBu6Q';

      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [0, -10],
        zoom: 1
      });

      map.addControl(new mapboxgl.FullscreenControl());

    //- TODO: add fallback message if no entries
    ul.overview
      li
        img(src='/images/avatar.jpg' alt='avatar')
        h2 jonathan langeachternaam
        div
          p Communications and Multimedia Design
          p Amsterdam University of Applied Sciences
        div
          a(href='https://linkedin.com')
            img(src="/images/linkedin.svg" alt="linkedin contact" target='_blank')
          a(href='https://instagram.com')
            img(src="/images/instagram.svg" alt="instagram contact" target='_blank')
