extends layout/template.pug

block content
  header
    h1 Overview
  main
    div#map
    script.
      mapboxgl.accessToken = '#{mapboxAPI}';
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [10, 30],
        zoom: 1.2
      });

      map.addControl(new mapboxgl.FullscreenControl());

    ul.overview
      each student in students
        li
          h2= student.firstname
          p= student.education
          p= student.currentSchool
          a(href='mailto:' + student.email) Email
