extends layout/template.pug

block content
  header
    h1 Overview
  main
    //-The fallback for the progressive enhancement when javascript is disabled in the browser
    noscript
      ul.overview
        each student in students
          li
            h2= `${student.firstname} ${student.lastname}`
            p= `Studying: ${student.education}`
            p= `School: ${student.currentSchool}`
            a(href='mailto:' + student.email) Email
    div#map

    //-FIXME: third party api + native browser api implementeren.
    //-FIXME: browser api wiki keuzes
    //- FIXME: mapbox api implementeren wiki beschrijven
