extends layout/template.pug

block content
  header
    h1 Overview
    p Students found in (preference country) who want to study in your country
  main
    div#map
    script.
      mapboxgl.accessToken = 'pk.eyJ1IjoibWFyY2Ryb2dlciIsImEiOiJjbDNiYzFtNnMwZHlhM2NycXdkdGh2MTZmIn0.B26KwzBntG-ArQRPsYBu6Q';

      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [10, 30],
        zoom: 1.2
      });

      map.addControl(new mapboxgl.FullscreenControl());

    //- TODO: add fallback message if no entries
    ul.overview
      li
        h2 jonathan langeachternaam
        div
          p Communications and Multimedia Design
            span - Amsterdam University of Applied Sciences
        div
          a(href='mailto:marcdroger@hotmail.com') Email
