doctype html
html
  head
    title Login
  body
    h1 please login
    input(type='text' name='username' placeholder='username')
    input(type='password' name='password' placeholder='password')