doctype html
html(lang='en')
  head
    title Blok Tech
    link(rel='stylesheet' href='css/main.css')
    link(rel='icon' type='image/png' href='favicon.png')
  body
    include nav.pug
    block content