doctype html
html(lang='en')
  head
    title EduBroad
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Study abroad. Expand your mind.')
    link(rel='stylesheet' href='css/main.css')
    link(rel='icon' type='image/png' href='favicon.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Dancing+Script&display=swap')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js')
    meta(property='og:type' content='website')
    meta(property='og:title' content='EduBroad | Study abroad. Expand your mind.')
    meta(property='og:image' content='images/banner.png')
  body
    include nav.pug
    block content
    include footer.pug
    script(src='script/main.js' type='text/javascript')