.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  width: 80%;
}

.error h1 {
  font-size: 35px;
  margin-bottom: 12px;
}

.error a {
  margin-top: 10px;
}
