.account {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.account input,
.account select {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.account label {
  margin-top: 2px;
}