.account {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.account h2 {
  margin-top: 10px;
}

.account hr {
  margin-bottom: 8px;
}

.account input,
.account select {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.account label {
  margin-top: 2px;
}

/* change css 2 fields next to each other on desktop */