header {
  background-color: var(--color-primary);
  text-align: center;
  padding: 120px 0 50px;
}

header h1 {
  color: var(--color-white);
  margin: 10px 0;
}

header p {
  color: var(--color-white);
}

/* FIXME: place main in different css file? */
main {
  margin: 30px auto 0;
  max-width: 1200px;
  padding: 0 16px;
}