nav {
  top: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  background-color: var(--color-white);
  width: 100%;
}

nav ul {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

nav a {
  display: block;
}

.logo {
  color: var(--color-black);
  font-size: 24px;
  font-weight: bold;
}

.avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.avatar img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}