.overview {
  display: flex;
  flex-wrap: wrap;
}

.overview li {
  padding: 18px 12px;
  text-align: center;
  width: 100%;
}

.overview h2 {
  overflow-wrap: break-word;
  text-transform: capitalize;
  margin: 8px 0;
}

.overview div p span{
  color: var(--color-gray);
}

.overview div:last-child {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .overview li {
    width: 25%;
  }
}